.page-card{
    width: 100px;
    height: 150px;
    padding: 20px;
    background: #336699;
    margin: 3px;

}

.page-card .img{
    width: 100px;
    height: 100px;
    background-size: cover;
}

#page{
    display: flex;
    flex-wrap: wrap;
}