.card {
    width: 100px;
    height: 150px;
    padding: 20px;
    background: gray;
    margin: 10px;
}

.card-img {
    width: 100px;
    height: 100px;
    background-size: cover;
    display: block;
    margin: auto;
}

.card-name {
    text-align: center;
    margin-top: 5px;
}

.card-desc {
    text-align: center;
}

#cards {
    display: flex;
    flex-wrap: wrap;
}
