.photo{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
}

.card{
    width: 300px;
    min-height: 50px;
    padding-left: 50px;
    box-shadow: 2px 2px 5px 0 grey;
    margin-bottom: 20px;
    position: relative;
}